.pageWrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footerWrapper{
    margin-top: auto;
}

.favoriteCont{
    display: flex;
    flex: 1;

    .favoriteList{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 120px;
        width: 100%;
        padding: 0 120px;
        justify-content: center;
        list-style-type: none;
        background-color: #080a0c;
        padding: 40px 20px;
        margin: 120px 120px 0;
        border-radius: 20px;
        align-content: flex-start;

        li{
            background: var(--block-back-color);
            padding: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            border-radius: 12px;
            border: 0.1px solid rgba(255, 255, 255, 0.1);
            width: 280px;

            img{
                width: 100%;
                aspect-ratio: 16/9;
                object-fit: cover;
                border-radius: 12px;
                background: #1a1f2e;

                &:hover{
                    transform: scale(1.05);
                    transition: transform 0.3s ease-in-out;
                }
            }

            .favoriteInfo{
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: white;

                div:first-child{
                    color: white;
                }

                div:last-child{
                    color: var(--logo-color);
                }
            }
        }
    }
}

.toastStyle{
    display: flex;
    position: absolute;
    top: 10px;
    background-color: rgba(255, 50, 50, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}