.NavBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(26,26,26,0.8);
    backdrop-filter: blur(16px);
    padding: 18px 60px;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 72px;

    .container{
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .logoCont{
            .logoText{
                font-family: "Audiowide", sans-serif;
                font-size: 24px;
                color: var(--logo-color);
                font-weight: 400;
                font-style: normal;
            }
        }
    }

    .options{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 560px;
        display: flex;
        flex-direction: column;

        ul{
            list-style-type: none;
            display: flex;
            justify-content: space-between;

            .search{
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            
            li {
                position: relative;
                font-weight: 500;
                font-size: 18px;

                .active {
                    color: var(--logo-color);
                }

                .hoverTrue:hover{
                    color: var(--logo-color);
                    font-weight: 500;
                }



                a{
                    font-weight: 500;
                    font-size: 18px;
                    background: none;
                    padding: 10px 10px;
                    border: none;
                    cursor: pointer;
                }

            }
        }

    }

    .packAndSearch{
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 30px;

        li svg {
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        li:hover {
            svg {
                fill: var(--logo-color);
            }
        }
    }
}

a{
    text-decoration: none
}